@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family: "Inter", sans-serif;
}
nav{
    background-color: #412567;
    padding: 12px 12px;
}
.container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.logo h2{
    font-size: 33px;
    font-weight: bold;
    color: #FFF;
}
.logo span {
    background: linear-gradient(45deg , #F7E93F, #FB09B4,#9100F8 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul{
    
    list-style: none;
    margin: 12px;
}
ul li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 200;
}
.hamburger{
    display: none;
}
.sub-btn {
    border: none;
    outline: none;
    background: linear-gradient(45deg , #F7E93F, #FB09B4,#9100F8 );
    padding: 12px;
    border-radius: 50px;
     transition: all 0.4s ease-in-out;
}
.sub-btn:hover{
        background: linear-gradient(45deg , #FB09B4,#9100F8, #F7E93F );
        
}
.sub-btn a{
 color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.sub-btn i{
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.4s ease-in-out;
}
.sub-btn:hover i{
opacity: 1;
    transform: translateX(0);

}
@media screen and (max-width:576px) {
    ul{
   display: none !important;
}
.hamburger{
    display: block;
     padding: 12px;
}
.sub-btn {
    display: none;
   
}
}