@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-boxs h2{
    font-size: 39px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
 
}
.text-boxs p {
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-bottom: 40px;
}
body{
 font-family: "Inter", sans-serif;
}
nav{
    background-color: #412567;
    padding: 12px 12px;
}
.container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
}
.flex{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.logo h2{
    font-size: 33px;
    font-weight: bold;
    color: #FFF;
}
.logo span {
    background: linear-gradient(45deg , #F7E93F, #FB09B4,#9100F8 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul{
    
    list-style: none;
    margin: 12px;
}
ul li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 200;
}
.hamburger{
    display: none;
}
.sub-btn {
    border: none;
    outline: none;
    background: linear-gradient(45deg , #F7E93F, #FB09B4,#9100F8 );
    padding: 12px;
    border-radius: 50px;
     transition: all 0.4s ease-in-out;
}
.sub-btn:hover{
        background: linear-gradient(45deg , #FB09B4,#9100F8, #F7E93F );
        
}
.sub-btn a{
 color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.sub-btn i{
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.4s ease-in-out;
}
.sub-btn:hover i{
opacity: 1;
    transform: translateX(0);

}
#hero{
 
    background: url('../assets/hero-bg.png');
    background-position: center;
    background-size: cover;
}
.flex-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.circle {
	width: 344px;
	height: 344px;
	background: linear-gradient(45deg , #F7E93F, #FB09B4,#9100F8 );
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 8px solid #410B68;
	margin-bottom: 70px;
}
.buton {
	color: #fff;
	margin-right: -162px;
	z-index: 1;
	background: #00ff88;
	padding: 4px 18px;
	border-radius: 50px;
	place-self: left;
	box-shadow: 0px 2px 12px #00ff88;
	position: relative;
	top: 29px;
    animation: load 0.9s ease-in-out infinite alternate;
}
@keyframes load {
    from{
        transform: scale(1);
    }to{
      transform: scale(1.2);
    }
}
.text-box h1{
 font-size: 60px;
 text-align: center;
 color: #FFF;
}
.text-box p{
    color: #fff;
    margin-bottom: 20px;
}
.btn-bx{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.head-btn {
    border: none;
    outline: none;
    background: linear-gradient(45deg , #F7E93F, #FB09B4,#9100F8 );
    padding: 12px;
    border-radius: 50px;
     transition: all 0.4s ease-in-out;
}
.head-btn:hover  {
    background: transparent;
    border: 1px solid #00ff88;
    color: #00ff88;
}
.head-btn:hover a{
    color: #00ff88;
}

.head-btn a{
 color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.head-btn i{
    font-size: 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}
.head-btn:hover i{
opacity: 1;
    transform: translateY(0);

}
.choose {
    padding-top: 40px;
    background: #230E3D;
    padding-bottom: 44px;
}
.grid-box{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(2 , 2fr);
}
.grid-tall{
    grid-column: span 1;
    grid-row: span 2;
}
.grid-width{
    grid-column: span 2;
    grid-row: span 1;
}
.box {
    background: #351165;
    padding: 26px;
    border-radius: 12px;
}
.box img{
    margin-bottom: 10px;
}
.text-con h3{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fff;
}
.text-con p{
    font-size: 16px;
    line-height: 20px;
    color: #fff;

}
.About{
    padding-top: 40px;
    background: #1A0B2E;
}
.about-box{
    display: flex;
    justify-content: space-between;
    padding: 26px;
}
.abox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.abox h2{
  font-size: 48px;
  color: #00ff88;
  margin-bottom: 7px;
}
.abox p{
    color: #fff;
}
.podcast {
      padding-top: 40px;
    background: #1A0B2E;
}
.videos{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 23px;

}
.play-btn {
    background: linear-gradient(45deg , #F7E93F, #FB09B4,#9100F8 );
    padding: 12px;
    border-radius: 50%;
    animation: bounce 2s linear infinite;
   
}

@keyframes bounce {
    0%{
       box-shadow: 0px 0px 0px 0px #fb09b49c;
    }
    40%{
       box-shadow: 0px 0px 0px 12px #fb09b49c;
    }
    80%{
       box-shadow: 0px 0px 0px 12px #fb09b49c;
    }
    100%{
       box-shadow: 0px 0px 0px 0px #fb09b49c;
    }
}
.play-btn a{
    color: #fff;
}
.v-box{
    border-radius: 12px;
    background: #230E3D;
    overflow: hidden;

}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 300px;
    border-radius: 20px 20px 0px 0px; 
}
.v-box:nth-child(1) .img-box{
      background: url("../assets/Rectangle1.jpg");
          background-position: center;
    background-size: cover;
}
.v-box:nth-child(2) .img-box{
      background: url("../assets/Rectangle2.jpg");
          background-position: center;
    background-size: cover;
}
.v-box:nth-child(3) .img-box{
      background: url("../assets/Rectangle3.jpg");
          background-position: center;
    background-size: cover;
}
.video-des{
    padding: 14px;
}
.video-des h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
.video-des p {
    color: #dfdfdf;
    line-height: 22px;
    font-weight: 200;
    margin-bottom: 20px;

}
.video-des span{
    color: #00ff88;

}
.host-intro {
      padding: 40px;
    background: #1A0B2E;
}
.host-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #351165;
    padding: 25px;
    border-radius: 20px;
    
}
.host-des h3{
  font-size: 35px;
  color: #FFF;
  margin-bottom: 15px;
}
.host-des p{
    font-size: 16px;
    line-height: 20px;
    color: #dfdfdf;
    margin-bottom: 15px;

}
.social-icons{
    display: flex;
    gap: 30px;
}
footer{
    background: url('../assets/footer-bg.png') no-repeat;
    padding: 43px;
    background-size: cover;
    background-position: center;
}
.footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    color: #fff;
    text-align: center;
}
.footer-flex h2{
    font-size: 60px;
    color: #fff;
    text-align: center;
}
.footer-flex span{
  background: linear-gradient(45deg , #F7E93F, #FB09B4,#9100F8 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.connect-icon{
    display: flex;
    gap:12px;
    color: #fff;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (max-width:576px) {
    ul{
   display: none !important;
}
.hamburger{
    display: block;
     padding: 12px;
}
.sub-btn {
    display: none;
   
}
.about-box{
    flex-direction: column;
    gap: 20px;
}
.grid-box{
    display: grid;
    gap: 10px;
  
    grid-template-columns: repeat(1 , 1fr);
    grid-template-rows: repeat(1 , 2fr);
}
.grid-tall{
    grid-column: span 1;
    grid-row: span 1;
}
.grid-width{
    grid-column: span 1;
    grid-row: span 1;
}
.videos{
    flex-direction: column;
}
.host-card {
    display: flex;
  flex-direction: column;
 
}
.host-des h3{
text-align: center;
}
.host-des p{
text-align: center;

}
.social-icons{
    display: flex;
    gap: 30px;
    justify-content: center;
}
}